

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>스쿠버 링크 : 비용설정</title>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/Scubalink_CSS_02.css"/>

   </head>


  <body>
    


<div class="wizard">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1"></a>
    </li>

    <li class="disabled">
      <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2"></a>
    </li>

    <li class="disabled">
      <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3"></a>
    </li>

    <li class="disabled">
      <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" title="Step 4"></a>
    </li>

    <li class="disabled">
      <a href="#step5" data-toggle="tab" aria-controls="step5" role="tab" title="Step 5"></a>
    </li>
  </ul>
          

          
          
          
  <form>
    <div class="tab-content">



      <!--Step 1-->
      <div class="tab-pane active" role="tabpanel" id="step1">

        <!--header-->
        <div id="cost_header">
          <span>기본 정보 입력</span><br>
          <span>비용 항목 정보를 입력하세요.</span>
        </div>


        <!--참여 인원 -->   
        <div id="cost_member" class="panel-body">
        	<div>1. 참여자 수를 입력하세요.</div>
            <div>
              <span class="ex_text">강사</span>
              <input type="number" placeholder="0" min=1 max = 100;>
              <span class="c_text">명</span>
            </div>
        
            <div>
              <span class="ex_text">교육생</span>
              <input type="number" placeholder="0" min=1 max = 100;>
              <span class="c_text">명</span>
           </div>
        </div>
    
<div class="tour_division"></div>

      <!--비용 통화-->
     
      <div id="check_currency">
          <div>2. 사용하는 통화 선택 후 환율을 입력하세요.</div>
          <ul>
          	<li>
          		<label class="cost_checkbox_container">대한민국 원 KRW
          			<input type="checkbox" value="원" checked >
          			<span class="cost_checkmark"></span>
           	 	</label>
          </li>




          <li>
          	<label class="cost_checkbox_container">미국 달러 USD<input type="checkbox" value="달러">
          	<span class="cost_checkmark"></span></label>
            
            <div class="custom hide">
              <input type="number" placeholder="1,200">
              <span class="c_text">원</span>
              <span class="cur_text">= 1달러</span>
              <div>환율을 입력하세요.</div>
              <div>약 1,200원 = 1달러 (2019/10/01 19:43 기준)</div>
          	</div>
          </li>


          <li>
          		<label class="cost_checkbox_container">일본 엔 JPY
          			<input type="checkbox" value="엔">
          			<span class="cost_checkmark"></span>
           	 	</label>
            
            <div class="custom hide">
              <input type="number" placeholder="1,108">
              <span class="c_text">원</span>
              <span class="cur_text">= 100엔</span>
              <div>환율을 입력하세요.</div>
              <div>약 1,108원 = 100 엔 (2019/10/01 19:43 기준)</div>
          	</div>
          </li>


          <li>
          		<label class="cost_checkbox_container">필리핀 페소 PHP
          			<input type="checkbox" value="페소">
          			<span class="cost_checkmark"></span>
           	 	</label>
            
            <div class="custom hide">
              <input type="number" placeholder="1,200">
              <span class="c_text">원</span>
              <span class="cur_text">= 1페소</span>
              <div>환율을 입력하세요.</div>
              <div>약 230 = 1페소 (2019/10/01 19:43 기준)</div>
          	</div>
          </li>


          <li>
          		<label class="cost_checkbox_container">유럽연합 유로 EUR
          			<input type="checkbox" value="유로">
          			<span class="cost_checkmark"></span>
           	 	</label>
            
            <div class="custom hide">
              <input type="number" placeholder="1,200">
              <span class="c_text">원</span>
              <span class="cur_text">= 1유로</span>
              <div>환율을 입력하세요.</div>
              <div>약 1,300원 = 1유로 (2019/10/01 19:43 기준)</div>
          	</div>
          </li>



      </ul>
    </div>




<div class="tour_division"></div>

<div id="c_main_cur">
<div>3. 기본 통화를 선택하세요.</div>
      <select>
        <option value="원" class="">대한민국 원 KRW</option>
        <option value="달러" class="hide">미국 달러 USD</option>
        <option value="엔" class="hide">일본 엔 JPY</option>
        <option value="페소" class="hide">필리핀 페소 PHP</option>
        <option value="유로" class="hide">유럽연합 유로 EUR</option>

      </select>
</div>
<div class="tour_division"></div>



  <!--비용 입력-->
<div>
  <div class="c_list">
    <div class="panel-body">
      4. 비용 항목을 입력하세요.
      <div id="room_type">
        <div class="input_cost">
          
            <input type="text" class="cost_name" placeholder="예) 숙박비, 다이빙비" value="" onkeyup="update_arr()">
            <span class="remove_div btn" onclick="remove_div(this)"><img src="../resources/img/ic-close.svg"></span> 
        
        </div><!-- input cost-->
        <div class="name_empty_error">항목 이름을 입력하세요.</div>
      </div><!--end of room-type-->


      <div id="field"></div><!--http://nahosung.tistory.com/28 동적 추가/삭제 참조 -->
      <!--투어/교육 추가 버튼-->
      <button type="button" id="plus_cost" class="btn btn-block col-xs-12" onclick="add_div()">
        <span><img src="../resources/img/ic-add-blue.svg"></span>
        <span id="text_tour_education">항목 추가</span>
      </button>


    </div><!--panel body-->
  </div><!--c_list-->
</div>


<div class="tour_division"></div>



<div id="FOC_list">
  <div>5. FOC 할인 항목을 선택하세요.</div>
  <ul id="FOC_ul">
  	<li><label class="cost_checkbox_container">예) 숙박비, 다이빙비<input type="checkbox" class="FOC_sale"><span class="cost_checkmark"></span></label></li>
  </ul>
</div>


<div class="form_wizard">
  <button id="step_1_prev" class="col-xs-4" type="button">
    <img src="../resources/img/ic-keyboard-arrow-right-white.svg">
    이전
  </button>
  <button class="col-xs-8 next-step" type="button" onclick="update_s1();s1_to_s2();">
    다음
    <img src="../resources/img/ic-keyboard-arrow-right-white.svg">
  </button>
</div>



</div>
                  
<!--end of Step 1--> 





















      <!--Step 2-->
  <div class="tab-pane" role="tabpanel" id="step2">
        

        <!--header-->
    <div id="cost_header">
      <span>교육생 1인 비용 계산</span><br>
      <span >교육생에게 공지할 금액을 입력하세요.</span>
    </div>

  


  <!--비용 입력-->
<div>
  <div class="c_list">
    <div class="panel-body">


      <div id="c_first">
        <div>

        <div class="input_cost">
        	<div class="label label-default hide">FOC 적용</div>
        	<div class="s2_div">
          <div class="s2_cost">
            <input type="text" class="cost_name" placeholder="비용을 입력해주세요"> 
          </div>


          <div class="cost_p1">
            <input type="number" placeholder="0">
            <span class="unit" name="number">
              <select>
                <option value="원">원</option>
                <option value="엔">엔</option>
              </select>
            </span>
          </div>


          <span>X</span>


          <div class="cost_p2">
            <input type="number" placeholder="0" max="999">
            <span class="unit" name="number">
              <select>
                <option value="회">회</option>
                <option value="박">박</option>
                <option value="일">일</option>
                
              </select>
            </span>
          </div>


          <div class="cost_check_box_1">
            <span class="cost_n">
              <label class="cost_checkbox_container">공동 비용
                <input type="checkbox">
                <span class="cost_checkmark"></span>
              </label>
              <i data-toggle="modal" role="dialog" href="#cost_detail_1">
                <img src="../resources/img/ic-help-outline.svg">
              </i>
            </span>

            <!-- Modal -->
            <div class="modal fade" id="cost_detail_1" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-body">
                    <div>공동 비용</div>
                    <div>
                      <span><img src='../resources/img/ic-check-box.svg'></span>
                      <div class="modal_text">
                        <span class="check_text">체크</span>
                        <p>모두 함께 쓴 비용, 참여자 수만큼 나눠야하는 공동 전체 비용. 예) 하루 총 숙박비</p>
                      </div>
                    </div>

                    <div>
                      <span><img src='../resources/img/ic-check-box-outline-blank.svg'></span>
                      <div class="modal_text">
                        <span class="check_text">체크해제</span>
                        <p>1인 당 개별 비용 예) 하루 1인 숙박비</p>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">   
                  <!--삭제하기-->
                    <button type="button" data-dismiss="modal">닫기</button>
                  </div>
                </div>
              </div>
            </div> <!--Modal 끝-->



            <span class="cost_ins">
              <label class="cost_checkbox_container" disabled>강사비용포함
                <input type="checkbox">
                <span class="cost_checkmark"></span>
              </label>
              <i data-toggle="modal" role="dialog" href="#cost_detail_2"><img src="../resources/img/ic-help-outline.svg"></i>
            </span>

            <!-- Modal -->
            <div class="modal fade" id="cost_detail_2" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-body">
                    <div>강사 비용</div>
                    <div>
                      <span><img src='../resources/img/ic-check-box.svg'></span>
                    <div class="modal_text">
                      <span class="check_text">체크</span>
                        <p>강사의 몫이 계산 되어야 하는 비용<br>
                        FOC가 적용되어 최종적으로 할인되더라도 꼭 체크하세요.</p>
                      </div>
                    </div>

                    <div>
                      <span><img src='../resources/img/ic-check-box-outline-blank.svg'></span>
                      <div class="modal_text">
                        <span class="check_text">체크해제</span>
                        <p>교육생만 지불하는 비용</p>
                      </div>
                    </div>
                  </div>

                  <div class="modal-footer">   
                  <!--삭제하기-->
                    <button type="button" data-dismiss="modal">닫기</button>
                  </div>
                </div>
              </div>
            </div> <!--Modal 끝-->
          </div>


</div>
        </div><!-- input cost-->



        <div class="ex_cost">
          <div id="ex_cost_1" class="collapse">
          	<div>
          	<span class="check1 hide">공동비용지원 체크 시</span>
          	<span class="check2 hide">강사비용지원 체크 시</span>
          	<span class="check3 hide">공동비용, 강사비용지원 체크 시</span>
          </div>
          <div class="ex_cost_detail">
            <div>1인 비용</div>

            
            <span>= 단가 x 횟수</span>
            <span class="check_1"> /참여자 수</span>
            <span class="check_2 hide"> + (단가 x 횟수) x 강사 수 /교육생 수</span>
            <span class="check_3 hide"> /교육생 수</span>



         <!--모두 미 체크시 -->
            <div>=
              <text class="p1"></text>
              <text class="cur"></text>
              <text> x </text>
              <text class="p2"></text>
              <text class="unit"></text>

          <!--공동비용지원 체크-->
              <span class="check_1">
                <text>/</text>
                <text class="all_n"></text>
                <text>명</text>
              </span>

          <!--강사포함비용 체크-->
              <span class="hide check_2">
                <text>+(</text>
                <text class="p1"></text>
                <text class="cur"></text>
                <text>x</text>
                <text class="p2"></text>
                <text class="unit"></text>
                <text>)x</text>
                <text class="ins_n"></text>
                <text>명</text>
                <text>/</text>
                <text class="bgn_n"></text>
                <text>명</text>
              </span>

            <!--모두 체크시-->
              <span class="hide check_3">
                <text>/</text>
                <text class="bgn_n"></text>
                <text>명</text>
              </span>


              <br>
              <text> = </text>
              <text class="cost">0</text>
              <text class="cur"></text>

             
            </div>



        </div>
      </div>


        <div class="accordion-toggle collapsed" data-toggle="collapse" data-target="#ex_cost_1">1인 비용 =
          <text class="cost2">0</text>
          <text class="currency2">원</text>
          <i><img src="../resources/img/group-16.svg"></i>
        </div>
      </div>
    </div>
    </div><!--end of room-type-->





<div id="c_sibling"></div>
  </div><!--panel body-->
</div><!--CollapseTwo-->
</div><!-- panel panel-default-->


 <div class="tour_division"></div>

<div class="s2_p_cost">
  <div>교육생 1인 비용</div>
  <div id="s2_p_name">= </div>
  <div id="s2_p_cal"></div>
  <div id="s2_p_sum"></div>
  <div id="s2_p_total">=
    <text>0</text>
    <text>원</text>
  </div>
</div>


<div id="s2_sum_cost">
  <div>예상 총 수입</div>
  <div>= 
    <text>교육생 1인 비용</text>
    <text> x </text>
    <text>교육생 수</text>
  </div>
  <div>=
    <text id="p_cost">0</text>
    <text class="t_cur">원</text>
    <text> x </text>
    <text class="bgn_n"></text>
    <text>명</text>
  </div>
  <div id="total_c">=
    <text>0</text>
    <text>원</text>
  </div>
</div>
        <div class="form_wizard">
  <button class="col-xs-4 prev-step" type="button" onclick="s2_to_s1()">
    <img src="../resources/img/ic-keyboard-arrow-right-white.svg">
    이전
  </button>

  <div class="col-xs-4 mid_cost">
    교육생 1인 비용<br>
    <text>0 원</text>
  </div>

  <button class="col-xs-4 next-step" type="button" onclick="s2_to_s3()">
    다음
    <img src="../resources/img/ic-keyboard-arrow-right-white.svg">
  </button>
</div>
</div>
                  
                  
















      <!--Step 3-->
      <div class="tab-pane" role="tabpanel" id="step3">
        <!--header-->
        <div id="cost_header">
          <span>실지출 입력</span><br>
          <span>아래 입력한 지출 비용은 교육생에게 노출되지 않습니다.</span>
        </div>


        <div id="cost_ins">
          <div>1. 강사 할인 받는 항목이 있나요?</div>
          <div class="s3_ex_text">받는 금액과 실제 지출 금액이 다른 항목을 체크하세요.</div>
          <!--Step2의 항목이 자동 입력됨 -->
          <ul>
          </ul>
        </div>


<div class="tour_division"></div>


        <div id="cost_no_s">
          <div>2. 실제 지출 단가를 입력하세요.</div>
          <!--Step2의 항목이 자동 입력됨 -->
          
<div id="cost_no_s_list_empty" class="">
  선택한 항목이 없습니다.
</div>

<div id="cost_no_s_list" class="hidden">



      </div>
    </div>

<div class="tour_division"></div>

  

  <!--추가 지출-->
  <div>
    <div class="c_list">
      <div class="panel-body">
        <div>3. 추가 지출이 있나요? (선택 입력)</div>
        <div class="s3_ex_text">강사 교통비 등 기타 지출이 있다면 입력하세요.</div>

        <div id="c_extra_first">
          <div class="input_cost">
            <div>

              <input type="text" class="cost_name" placeholder="추가 지출 항목 이름" style="background-color:#ffffff;border: solid 1px #979797;padding: .5em .7em;">

              <span class="remove_div btn" onclick="remove_div_s3(this)"><img src="../resources/img/ic-close.svg"></span> 
            </div>

            <div class="c_select">
            <input type="number" placeholder="0">
              <select>
                <option>원</option>
                <option>엔</option>
              </select>
            </div>
          </div><!-- input cost-->
        </div><!--end of room-type-->

        <div id="c_extra_sibling"></div>
        <!--항목 추가 시 c_extra_sibling에 c_extra_first 복사-->
        <!--투어/교육 추가 버튼-->
        <button type="button" id="plus_cost" class="btn btn-block col-xs-12" onclick="add_div_s3()">
          <span><img src="../resources/img/ic-add-blue.svg"></span>
          <span id="text_tour_education">항목 추가</span>
        </button>

      </div><!--panel body-->
    </div><!--c_list-->
</div><!-- panel panel-default-->


<div class="tour_division"></div>


<div id="s3_actual_per_cost">
  <div>교육생 1인 실지출</div>
  <div id="s3_p_name"></div>
  <div id="s3_p_cal"></div>
  <div id="s3_p_sum"></div>
  <div id="s3_p_total"></div>
</div>





<div id="s3_sum_cost">
  <div>예상 총 지출</div>
  <div id="s3_sum_name">= (교육생 1인 실지출 x 교육생 수)</div>
  <div id="s3_sum_cal">= (
    <text class="actual_t_cost"></text>
    <text class="t_cur"></text>
    <text> x </text>
    <text class="bgn_n"></text>
    <text>명)</text>
    <text id="extra_cost"></text>
  </div>
  <div id="s3_sum_cal_ex">= (
    <text class="actual_t_cost"></text>
    <text class="t_cur"></text>
    <text> x </text>
    <text class="bgn_n"></text>
    <text>명)</text>
    <text id="extra_cost_ex"></text>
  </div>

  <div>=
    <text id=s3_f_cost></text>
    <text id=s3_f_cur></text>
  </div>

</div>






<div class="form_wizard">
  <button class="col-xs-4 prev-step" type="button">
    <img src="../resources/img/ic-keyboard-arrow-right-white.svg">
    이전
  </button>


  <div class="col-xs-4 mid_cost">
    예상 총 지출<br>
    <text>0 원</text>
  </div>


  <button class="col-xs-4 next-step" type="button" onclick="s3_to_s4()">
    다음
    <img src="../resources/img/ic-keyboard-arrow-right-white.svg">
  </button>
</div>    
             

    </div><!--Step 3-->

















 <!--Step 4-->
      <div class="tab-pane" role="tabpanel" id="step4">


       <!--header-->
    <div id="cost_header">
      <span>수익 조정</span><br>
      <span class="header_explain">교육생 비용과 수익을 확인하여 조정하세요.</span>
    </div>


     
 
    

      
        <div class="panel-body">
    <div class="s4_check_cost">
      <text>1. 교육생 1인 비용과 예상 수익을 확인하세요.</text>


      <div id="s4_check_per_cost">
        <div class="s4_check_cost_arr">숙박
          <span>+ 90,000원</span>
        </div>
        
        <div class="s4_check_cost_arr">다이빙 3회
          <span>+ 406,000원</span>
        </div>

        <div class="s4_check_cost_arr">페이팔 수수료
          <span>+ 16,590원</span>
        </div>
     </div>

      <div class="s4_check_cost_control">
        <text>예) 교육비, 예비비, 할인</text>
        <span>원</span><span>0</span>
      </div>

      <div class="s4_check_cost_fin">교육생 1인 비용
        <span>496,390원</span>
      </div>




    </div>


    <div class="s4_check_cost">
      <div id="s4_check_cost_income">예상 총 수입
        <span>2,481,950원</span>
      </div>

      <div id="s4_check_cost_expense">예상 총 지출
        <span>- 2,481,950원</span>
      </div>

      <div class="s4_check_cost_revenue">예상 수익
        <span>0원</span>
      </div>
    </div>

</div>

<div class="tour_division"></div>





    <div id="control_cost">
      <text>2. 교육생 1인 비용 또는 예상 수익을 조정하세요.</text>

      <div class="per_cost">교육생 1인 비용</div>
      <input type="text" placeholder="예) 교육비, 예비비, 할인">


      <div class="set_cost">
      <select>
        <option>+</option>
        <option>-</option>
      </select>
      

        <input type="number" id="input-Amount" name="price" value="0">
        <span>원</span>
      </div>
     

<text class="per_cost">예상 수익</text>
<div id="expect_cost">
<input type="number">
<span>원</span>
</div>

<input id="slide-range" type="range" min="0" max="500000" step="1" value="0">

<div id="slide-range-text">
  <text>0</text>
  <span>|</span>
  <text>500,000</text>
</div>



          </div>








 


<div class="form_wizard">
  <button class="col-xs-4 prev-step" type="button">
    <img src="../resources/img/ic-keyboard-arrow-right-white.svg">
    이전
  </button>

  <div class="col-xs-4 mid_cost">
    교육생 1인 비용<br>
    <text>0 원</text>
  </div>


  <button class="col-xs-4 next-step" type="button" onclick="s4_to_s5();">
    다음
    <img src="../resources/img/ic-keyboard-arrow-right-white.svg">
  </button>
</div>  


  </div><!-- panel panel-default-->







   <!--Step 5-->
      <div class="tab-pane" role="tabpanel" id="step5">


       <!--header-->
    <div id="cost_header">
      <span>최종 확인</span><br>
      <span class="header_explain">교육생 비용과 수익을 확인하세요.</span>
    </div>


     
    <!--1.기본 정보-->
  <div>

    
    <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
      <div class="panel-heading">
   
    </div>
  </a>
    

      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
       
       <div class="s5_check_cost">

        <div id="s5_check_cost_div">
          <div class="s5_check_cost_arr">
            <text>숙박</text>
            <span>90,000원</span>
          </div>

          <div class="s5_check_cost_arr">
            <text>다이빙 3회</text>
            <span>+406,000원</span>
          </div>

          <div class="s5_check_cost_arr">
            <text>페이팔 수수료</text>
            <span>+16,950원</span>
          </div>

          <div class="s5_check_cost_arr">
            <text>교육비</text>
            <span>+20,000원</span>
          </div>
          
       </div>
      

      <div class="s5_check_cost_control">
        <text>테스트</text>
        <span>0원</span>
      </div>


        <div class="s5_check_cost_fin">
          <text>교육생 1인 비용</text>
          <span>532,590원</span>
        </div>
      </div>


      <div class="s5_check_cost">
        <div id="s5_check_cost_income">
          <text>예상 총 수입</text>
          <span>2,662,950원</span>
        </div>

        <div id="s5_check_cost_expense">
          <text>예상 총 지출</text>
          <span>-2,481,950원</span>
        </div>

        <div id="s5_check_cost_revenue">
          <text>예상 수익</text>
          <span>181,000원</span>
        </div>


      </div>



        </div>


          


 


      </div><!--panel body-->
    </div><!--CollapseOne-->


<div class="form_wizard">
  <button class="col-xs-4 prev-step" type="button">
    <img src="../resources/img/ic-keyboard-arrow-right-white.svg">
    이전
  </button>

  <div class="col-xs-4 mid_cost">
    교육생 1인 비용<br>
    <text>0 원 =</text>
  </div>


  <button class="col-xs-4 next-step" type="button">
    다음
    <img src="../resources/img/ic-keyboard-arrow-right-white.svg">
  </button>
</div>  


  </div><!-- panel panel-default-->
</div>
                  
  </form>
</div>






  



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>




<script type="text/javascript" src="../resources/js/Scubalink_js.js"></script>
<script type="text/javascript" src="../resources/js/cost_s1.js"></script>
<script type="text/javascript" src="../resources/js/cost_s2.js"></script>
<script type="text/javascript" src="../resources/js/cost_s3.js"></script>
<script type="text/javascript" src="../resources/js/cost_s4.js"></script>




  </body>
</html>