<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>스쿠버 링크 : 내 프로필</title>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/Scubalink_CSS_02.css">

 


   </head>


  <body>
    <!--heaer-->
    <div class="header" name="myprofile">
      <!--현재 페이지-->
      <span class="logo">강사 소개</span>
      <!--뒤로가기-->
      <img src="../resources/img/left-arrow.svg" id="back">
      <span class="header_save">수정</span>
    </div>




    <div id="INS_intro">

     <div>
      <div class="INS_intro_title">강사 소개</div>
      <span class="hidden">작성 중입니다.</span>
      <text>강사설명~~~~강사설명~~~~강사설명~~~~강사설명~~강사설명~~~~강사설명~~~~
강사설명~~~~강사설명~~~~강사설명~~~~강줄바꿈 가능. 최대 1,000자 가능
- 강사설명
- 설명2
- 설명3

가나다라마바사
가나다</text>
    </div>

    <div>
      <div class="INS_intro_title">수강 대상</div>
      <span>작성 중입니다.</span>
      <text class="hidden">강사설명~~~~강사설명~~~~강사설명~~~~강사설명~~강사설명~~~~강사설명~~~~
강사설명~~~~강사설명~~~~강사설명~</text>
    </div>

    <div>
      <div class="INS_intro_title">교육 소개</div>
      <span>작성 중입니다.</span>
      <text class="hidden">강사설명~~~~강사설명~~~~강사설명~~~~강사설명~~강사설명~~~~강사설명~~~~
강사설명~~~~강사설명~~~~강사설명~</text>
    </div>


    <div>
      <div class="INS_intro_title">투어 소개</div>
      <span>작성 중입니다.</span>
      <text class="hidden">강사설명~~~~강사설명~~~~강사설명~~~~강사설명~~강사설명~~~~강사설명~~~~
강사설명~~~~강사설명~~~~강사설명~~</text>
    </div>
  
  </div>

 



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../resources/js/Scubalink_js.js"></script>




  </body>
</html>