<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>스쿠버 링크 : 홈</title>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/Scubalink_CSS_02.css">
   </head>


  <body>



     <!--heaer-->
    <div class="header header_ins" name="myprofile">
      <!--현재 페이지-->
      <span class="logo">김스쿠 강사</span>
      <!--뒤로가기-->
      <img src="../resources/img/left-arrow.svg" id="back">
      <!--저장-->
      
      <span class="header_save">공유</span>
      <!--
      <span class="header_save hidden">팔로우</span>
      <span class="header_save header_save_">팔로우중</span>
    -->

      <div id="header_ins_img"><img src="../resources/img/profile_default_img.svg" alt="..." class="img-circle"></div>
      <div id="header_ins_info">
        <text>투어/교육 50회</text>
        <text>|</text>
        <text>교육생 45명</text>
      </div>
      <div id="header_ins_btn">
        <button>강사 소개</button>


        <!--팔로우/팔로우 중 기능을 옮김 -->
        <button id="btn_follow" class="hidden" style="background-color:#145db2;color:#ffffff">내 강사로 등록</button>
        <a data-toggle="modal" href="#ins_unfollow"><button class="" style="color:#777777">내 강사</button></a>

        <div class="modal fade" id="ins_unfollow" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>내 강사로 등록을 취소하겠습니까?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal">닫기</button>
                        <button id="btn_unfollow" type="button" data-dismiss="modal">등록 취소</button>
                    </div>
                </div>
            </div>
        </div>


      </div>
    </div>



   <!--
    <div class="gray_rectangle">
      <span class="big_img">
          <img src="../resources/img/my_profile.jpg" alt="..." class="img-circle">
      </span>

      <span class="INS_info">
          <h5>김스쿠</h5>
          <p>SDI/TDI 강사</p>
          <span>투어/교육  <text>35</text></span>
          <span>팔로우  <text>42</text></span>
      </span>

      <div class="INS_self_info">
      강사 설명~~~ 강사 설명~~~ 강사 설명~~~ 강사 설명~~~강사 설명~~~ 강사 설명~~~강사 설명~~~ 강사 설명~~~강사 설명~~~ 강사 설명~~~
    </div>
    </div>
  -->

<!--home main-->
  <div class="tour">
    <!--
    <div class="tour_head">

     <span>
          <img src="../resources/img/my_profile.jpg" alt="..." class="img-circle">
      </span>


         <span class="INS_badge">
              <img src='../resources/img/ic.png'>
            </span>

      <span>

          <h5>김스쿠</h5>

          <p class="explain_text">SDI/TDI 강사</p>
      </span>
      
    </div>
  -->

    <div class="tour_image">
      <!--썸네일 이미지-->
      <img src="../resources/img/sea.png" alt="...">
    </div>

    <div class="tour_bar tour_uncomplete">
      <!--모집 중  인원-->
      <span class="tour_bar_text_left"><p>2/4 모집 중</p></span>
      <!--자세히 보기-->
       
       <span class="right"><img src="../resources/img/ic-keyboard-arrow-right-white.svg"></span>
       <span class="tour_bar_text_right"><p>자세히 보기</p></span>
     </div>

     <div class="tour_contents">
      <div class="tour_contents_when">
        <!--투어 일시-->
        <h4>강원도 해양 실습</h4>
      </div>
      <div class="tour_contents_where">
        <span>
          <text>기간</text>
              2019.10.12 ~ 2019.10.17</span>
        <span>
          <text>장소</text>강원도 동해 ○○○리조트</span>
      </div>
      <!--투어 설명-->
      <div class="tour_contents_comment">
        안전한 교육을 위한 실습단계의 해양 실습, 30만원 기존 교육생도 환영해요!
      </div>
      <div class="tour_contents_etc">
        <!--댓글 수-->
        <span>댓글 10</span>
      </div>
    </div>
<!--구분선-->
    <div class="gray_rectangle tour_division">
    </div>
  </div>


   <div class="tour">
    <div class="tour_head">
       <!--강사 사진 + 뱃지 --> 
     <span>
          <img src="../resources/img/my_profile.jpg" alt="..." class="img-circle">
      </span>


         <span class="INS_badge">
              <img src='../resources/img/ic.png'>
            </span>

      <span>
        <!--강사 이름-->
          <h5>김스쿠</h5>
        <!--강사 이메일-->
          <p class="explain_text">SDI/TDI 강사</p>
      </span>
    </div>

    <div class="tour_image">
      <img src="../resources/img/sea.png" alt="...">
    </div>

    <div class="tour_bar tour_complete">
      <span class="tour_bar_text_left"><p>4/4 모집 완료</p></span>
       <span class="right"><img src="../resources/img/ic-keyboard-arrow-right-white.svg"></span>
       <span class="tour_bar_text_right"><p>자세히 보기</p></span>
     </div>

     <div class="tour_contents">
      <div class="tour_contents_when">
        <h4>10.17금~10.21일 / 해양실습</h4>
      </div>
      <div class="tour_contents_where">
        <span><img src="../resources/img/ic-map-marker.svg"></span>
        <span>강원도 동해 ○○○리조트</span>
      </div>
      <div class="tour_contents_comment">
        안전한 교육을 위한 실습단계의 해양 실습, 30만원 기존 교육생도 환영해요!
      </div>
      <div class="tour_contents_etc">
        <span>댓글 10</span>
      </div>
    </div>

    <div class="gray_rectangle tour_division">
    </div>
  </div>



 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 <script type="text/javascript" src="../resources/js/Scubalink_js.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>




















  </body>
</html>

