<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>스쿠버 링크 : 홈</title>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/Scubalink_CSS_02.css">

   </head>


  <body>



     <!--heaer-->
    <div class="header" name="myprofile">
      <!--현재 페이지-->
      
      <!--뒤로가기-->
      <img src="../resources/img/left-arrow.svg" id="back">
      <!--교육생 검색-->
      <form class="search_INS">
        <input id="myBGN" type="text" placeholder="내 교육생">
        <!--교육생 검색 버튼 submit
        <button type="submit">
        	<img src="../resources/img/search.svg">
        </button>
    -->
      </form>
 	</div>








<div id="search_content">



	<div>
	<!--초대링크 복사하기-->
		<button type="button" id="plus_cost" class="btn btn-block col-xs-12" onclick="toastMessage()">
			<span>초대 링크 복사하기</span>
		</button>
	</div>


<div id="toastMessage">초대 링크가 복사되었습니다</div>


	<div id="myBGN_title">교육생</div>
	
	<div>
		<ul class="member_list">
			<li>
			<!--교육생 사진-->
				<span>
					<img src="../resources/img/my_profile.jpg" alt="..." class="img-circle">
				</span>

				<!--css문법 떄문에 지우면 안되요-->
				<span>
				</span>

				<!--이름/교육-->
				<span>
					<h5>김스쿠</h5>
					<p class="myBGN">투어/교육 5회</p>
				</span>

				<!--바로가기-->
				<span class="right">
					<img src="../resources/img/ic-arrow-ltr.svg">
				</span>
			</li>


			<li>
			<!--교육생 사진-->
				<span>
					<img src="../resources/img/my_profile.jpg" alt="..." class="img-circle">
				</span>

				<!--css문법 떄문에 지우면 안되요-->
				<span>
				</span>

				<!--이름/교육-->
				<span>
				<h5>김스쿠</h5>
				<p class="myBGN">투어/교육 5회</p>
				</span>
				<!--바로가기-->
				<span class="right">
					<img src="../resources/img/ic-arrow-ltr.svg">
				</span>
			</li>




			<li>
			<!--교육생 사진-->
				<span>
					<img src="../resources/img/my_profile.jpg" alt="..." class="img-circle">
				</span>

				<!--css문법 떄문에 지우면 안되요-->
				<span>
				</span>

				<!--이름/교육-->
				<span>
				<h5>김스쿠</h5>
				<p class="myBGN">투어/교육 5회</p>
				</span>
				<!--바로가기-->
				<span class="right">
					<img src="../resources/img/ic-arrow-ltr.svg">
				</span>
			</li>




			<li>
			<!--교육생 사진-->
				<span>
					<img src="../resources/img/my_profile.jpg" alt="..." class="img-circle">
				</span>

				<!--css문법 떄문에 지우면 안되요-->
				<span>
				</span>

				<!--이름/교육-->
				<span>
				<h5>김스쿠</h5>
				<p class="myBGN">투어/교육 5회</p>
				</span>
				<!--바로가기-->
				<span class="right">
					<img src="../resources/img/ic-arrow-ltr.svg">
				</span>
			</li>



			<li>
			<!--교육생 사진-->
				<span>
					<img src="../resources/img/my_profile.jpg" alt="..." class="img-circle">
				</span>

				<!--css문법 떄문에 지우면 안되요-->
				<span>
				</span>

				<!--이름/교육-->
				<span>
				<h5>김스쿠</h5>
				<p class="myBGN">투어/교육 5회</p>
				</span>
				<!--바로가기-->
				<span class="right">
					<img src="../resources/img/ic-arrow-ltr.svg">
				</span>
			</li>
		</ul>
	</div>
</div><!--search_content-->







 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 <script type="text/javascript" src="../resources/js/Scubalink_js.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>



















  </body>
</html>

