<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>스쿠버 링크 : 참여자</title>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/Scubalink_CSS_02.css">


 


   </head>


  <body>
    <!--heaer-->
    <div class="header" name="certif">
      <!--현재 페이지-->
      <span class="logo">교육생 정보</span>
      <!--뒤로가기-->
      <img src="../resources/img/left-arrow.svg" id="back">
      <!--저장-->
      <span class="header_save">저장</span>
    </div>


<div class="only_ins_read">
  <span>이 정보는 강사님만 볼 수 있습니다.</span>
</div>






<div class="stu_info_box">

    <span>
      <!--이미지-->
        <img class="img-circle" src="../resources/img/my_profile.jpg">
    </span>

    <span>
      <!--이름-->
        <h5>김스쿠</h5>
        <!--자격증 등급-->
        <p>투어/교육 0회</p>
    </span>
    <!--신체 정보-->
    <p>여성/165cm/60kg/250mm/근시 </p>
    <!--메모 내용-->
    <textarea class="form-control autosize" placeholder="참여자에게 맞는장비, 기타 사항을 메모하세요"></textarea>
    <p id="textarea_explain">400자 제한</p>
</div>







<div class="stu_info_box">

    <span>
      <!--이미지-->
        <img class="img-circle" src="../resources/img/my_profile.jpg">
    </span>

    <span>
      <!--이름-->
        <h5>김스쿠</h5>
        <!--자격증 등급-->
        <p>투어/교육 0회</p>
    </span>
    <!--신체 정보-->
    <p>여성/165cm/60kg/250mm/근시 </p>
    <!--메모 내용-->
    <textarea class="form-control autosize" placeholder="교육생에게 맞는장비, 기타 사항을 메모하세요"></textarea>
    <p id="textarea_explain">400자 제한</p>
</div>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../resources/js/Scubalink_js.js"></script>


  </body>
</html>